<div id="container">
    <div id="controls"></div>
    <ul id="hand"></ul>

    <script>
    // $.get('/api/create', function(data){
    //     console.log("worked!", data);
    // });

    $(document).ready(function(){
        var game, user;

        var $controls = $('#controls'),
            $hand = $('#hand');

        // $hand.on('click', 'li', function(e){
        //     var idx = $(this).index();
        //     console.log(idx);
        //     dropCard(idx);
        // });

        function createGame(){
            io.socket.get("/api/create", function (data) {
                game = data;
                user = game.users[0];
                console.log("Game:", game);
                
                $('<a href="#">Draw a card</a>').click(function(e){
                    drawCard();
                }).appendTo($controls);

                $('<a href="#">Get User Data</a>').click(function(e){
                    getUserData(user.uuid);
                }).appendTo($controls);
            });
        }

        function drawCard(){
            io.socket.get("/api/"+game.uuid+'/'+user.uuid+"/draw", function (card) {
                console.log("Card:", card);
                user.hand.push(card);
                updateHand(card);
            });
        }

        function dropCard(card_idx){
            if (user.hand[card_idx])
            io.socket.get("/api/"+game.uuid+'/'+user.uuid+"/drop/"+card_idx, function (card) {
                // delete user.hand[card_idx];
                user.hand.splice(card_idx, 1);
                updateHand(card);
                console.log("Dropping Card:", card, "/api/"+game.uuid+'/'+user.uuid+"/drop/"+card_idx);
            });
        }

        function getUserData(uuid){
            io.socket.get("/api/"+game.uuid+'/'+user.uuid+"/", function (user) {
                console.log("User:", user);
            });
        }

        function updateHand(){
            html = '';
            $hand.html('');
            for (var i in user.hand){
                var $card = $(cardTemplate(user.hand[i]));

                (function(idx){
                    $card.click(function(e){
                        // var idx = $(this).index();
                        // console.log(idx);
                        dropCard(idx);
                    }).appendTo($hand);
                })(i);
            }
        }

        function cardTemplate(card){
            return '<li><a href="#">' + card.value + " of " + card.suite + "</a></li>";
        }

        createGame();
        
    });
    </script>

    <div id="error"></div>
    <input type="button" id="shuffler" value="shuffle" />
    <input type="button" id="draw" value="draw a card" />
    <input type="button" id="addCard" value="add drawn card back" />
    <input type="button" id="shuffleDraw" value="shuffle, then draw" />
    <input type="button" id="orderByRank" value="order by rank" />
    <input type="button" id="orderBySuit" value="order by suit" />
    <h2>Card Deck</h2>
    <div id="cardDeck"></div>
    <br />
    <h2>Drawn Cards</h2>
    <div id="yourHand"></div>
    <script type="text/javascript">
        /*
         * example throwing cards on the table
         */
        $(document).ready(function(){
            var cardDeck = $("#cardDeck").playingCards();
            cardDeck.spread(); // show it

            var hand = [];
            var showError = function(msg){
                $('#error').html(msg).show();
                setTimeout(function(){
                    $('#error').fadeOut('slow');
                },3000);
            }
            var showHand = function(){
                var el = $('#yourHand')
                el.html('');
                for(var i=0;i<hand.length;i++){
                    el.append(hand[i].getHTML());
                }
            }
            var doShuffle = function(){
                cardDeck.shuffle();
                cardDeck.spread(); // update card table
            }
            var doDrawCard = function(){
                var c = cardDeck.draw();
                if(!c){
                    showError('no more cards');
                    return;
                }
                hand[hand.length] = c;
                cardDeck.spread();
                showHand();
            }
            var doOrderByRank = function(){
                cardDeck.orderByRank();
                cardDeck.spread(); // update card table
            }
            var doOrderBySuit = function(){
                cardDeck.orderBySuit();
                cardDeck.spread(); // update card table
            }
            $('#shuffler').click(doShuffle);
            $('#draw').click(doDrawCard);
            $('#shuffleDraw').click(function(){
                doShuffle();
                doDrawCard();
            });
            $('#addCard').click(function(){
                if(!hand.length){
                    showError('your hand is empty');
                    return;
                }
                var c = hand.pop();
                showHand();
                cardDeck.addCard(c);
                cardDeck.spread();
            });
            $('#orderByRank').click(doOrderByRank);
            $('#orderBySuit').click(doOrderBySuit);

        });
        /*
        // if we weren't using jquery to handle the document ready state, we would do this:
        if (window.addEventListener) {
            window.addEventListener("load",initPlayingCards,false);
        } else if (window.attachEvent) {
            window.attachEvent("onload",initPlayingCards);
        } else {
            window.onload = function() {initPlayingCards();}
        }
        function initPlayingCards() {
            cardDeck = new playingCards();
        }
        */
    </script>
</div>