<div id="container">
    <div id="controls"></div>
    <h1 id="name"></h1>
    <h2>Hand:</h2>
    <div id="hand" class="clearfix"></div>
    <h2>Board:</h2>
    <div id="board" class="clearfix"></div>

    <br>
    <br>
    
    <div id="fancy-board"></div>
</div>