<div id="game">
    <header class="clearfix">
        <h1 style="float: left; margin: 0 15px;"><a href="/">Machiavelli</a></h1>
        <div id="controls"></div>
    </header>
    <div class="container">
        <h1 id="name"></h1>
        <div id="players" class="clearfix"></div>
        <div id="board" class="clearfix"></div>
        <div id="hand" class="clearfix"></div>
    </div>
</div>